
<p id="notice"><%= notice %></p>

  <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Buildings</h1>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIE23N&placement=bootswatchcom" id="_carbonads_js"></script>
            </div>
          </div>
        </div>
      </div>
      </div>

    <div class="container">
        <% @buildings.each do |building| %>
        <div class="row">
          <div class="col-lg-10 col-md-7 col-sm-6">
                <div class="card border-secondary mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <p class="card-text"><%= building.owner %></p>
                        </div>
                        <div class="col-1">
                            <p class="card-text"><%= building.address %></p>
                        </div>
                        <div class="col-1">
                            <p class="card-text"><%= building.sqmt %></p>
                        </div>
                        <div class="col-1">
                            <p class="card-text"><%= building.price %></p>
                        </div>
                        <div class="col-1">
                            <p class="card-text"><%= building.subtype %></p>
                        </div>

                        <% if building.subtype == "house" %>
                        <div class="col-1">
                            <p>Floors</p>
                            <p class="card-text"><%= building.description['floors'] %></p>
                        </div>
                        <div class="col-1">
                            <p>Air Conditioned</p>
                            <p class="card-text"><%= building.description['air_conditioned'] %></p>
                        </div>
                        <div class="col-1">
                            <p>Rooms</p>
                            <p class="card-text"><%= building.description['rooms'] %></p>
                        </div>
                        <% elsif building.subtype == "complex" %>
                            <div class="col-1">
                            <p>Units</p>
                            <p class="card-text"><%= building.description['units'] %></p>
                            </div>
                            
                        <% else %>
                        <div class="col-1">
                        <p>Parking</p>
                            <p class="card-text"><%= building.description['parking'] %></p>
                            </div>
                            <div class="col-1">
                            <p>Shops</p>
                            <p class="card-text"><%= building.description['shops'] %></p>
                            </div>
                        <% end %>
                        <div class="col-1">
                            
                            <button type="button" class="btn btn-primary">BUY</button>
                        </div>
                    </div>
                </div>
                </div>
          </div>
        </div>
      </div>
          <% end %>
      </div>