<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :sqmt %>
    <%= form.number_field :sqmt %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :subtype %>
    <%= form.select :subtype, Building.subtypes.keys, {}%>
  </div>

<div id="house">
  <div class="field">
    <%= form.label :rooms %>
    <%= form.number_field :rooms %>
  </div>

    <div class="field">
    <%= label_tag 'air_conditioned' %>
    <%= radio_button_tag 'air_conditioned', 'Yes', true %>
    <%= radio_button_tag 'air_conditioned', 'No' %>
  </div>

  <div class="field">
    <%= form.label :floors %>
    <%= form.number_field :floors %>
  </div>
</div>

<div id="complex">
    <div class="field">
    <%= label_tag :units %>
    <%= number_field_tag :units %>
  </div>
</div>

<div id="commercial">
    <div class="field">
    <%= label_tag :shops %>
    <%= number_field_tag :shops %>
  </div>

      <div class="field">
    <%= label_tag :parking %>
    <%= number_field_tag :parking %>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

