<p id="notice"><%= notice %></p>

<p>
  <strong>Building Image:</strong>
   <%= image_tag @building.building_image.attached? ? @building.building_image : "" ,  size:"100x100"  %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @building.owner %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Sqmt:</strong>
  <%= @building.sqmt %>
</p>

<p>
  <strong>Price:</strong>
  <%= @building.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @building.subtype %>
</p>

<% if @building.subtype == "house" %>
  <p>
    <strong>Floor(s):</strong>
    <%= @building.description['rooms'] %>
  </p>
  <p>
    <strong>Air Conditioned:</strong>
    <%= @building.description['air_conditioned'] %>
  </p>
  <p>
    <strong>Room(s):</strong>
    <%= @building.description['rooms'] %>
  </p>
  <% elsif @building.subtype == "complex" %>

  <p>
    <strong>Units:</strong>
    <%= @building.description['units']  %>
  </p>
      
  <% else %>
  <p>
    <strong>Parking:</strong>
    <%= @building.description['parking'] %>
  </p>
  <p>
    <strong>Shops:</strong>
    <%= @building.description['shops'] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
